@import "src/styles/scss/variables";
@import 'src/styles/scss/mixins';

.buttonContainerWrapper {
  width: 211px;
  height: 55px;
  background: #FE5F1E;
  border-radius: 30px;
  @include text(16px, 19px, $bgColorSecond);
  border: none;

  &:hover {
    transition: 0.3s, all;
    background-color: $bgColorSecond;
    color: #FE5F1E;
    border: 1px solid #FE5F1E;
  }

  &:active {
    transform: translateY(1px);
  }
}
